{{ define "tasks/index" }}
{{ template "globals/before" .}}
<div class="container">
  <div class="card mt-4">
    <div class="card-header">
      Create New Task
    </div>
    <div class="card-body">
      <form class="row row-cols-lg-auto g-3 align-items-center" method="post">
        <div class="col-12">
          <label class="visually-hidden" for="content">Isi Task</label>
          <div class="input-group">
            <div class="input-group-text">Isi Task</div>
            <input type="text" class="form-control" id="content" name="content" placeholder="Task">
          </div>
        </div>

        <div class="col-12">
          <label class="visually-hidden" for="person">Assign to</label>
          <div class="input-group">
            <div class="input-group-text">Assign to</div>
            <input type="text" class="form-control" id="person" name="person" placeholder="Assign to">
          </div>
        </div>

        <div class="col-12">
          <label class="visually-hidden" for="duedate">Due Date</label>
          <div class="input-group">
            <div class="input-group-text">Due Date</div>
            <input type="text" class="form-control" id="duedate" name="duedate" placeholder="Due Date">
          </div>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-header">
      Task Lists
    </div>
    <ul class="list-group list-group-flush">
      {{range $index, $task := .tasks}}
      <li class="list-group-item">
        {{if $task.IsDone}}
        {{ add $index 1 }} - <del>{{ $task.Content }}</del>
        {{ else }}
        {{ add $index 1 }} - {{ $task.Content }} - {{ $task.Person }} - {{ $task.DueDate }}
        {{ end }}
        <a href="/tasks/{{ $task.ID }}/delete">Delete</a>
        |
        {{if $task.IsDone}}
        <a href="/tasks/{{ $task.ID }}/done">UnDone</a>
        {{ else }}
        <a href="/tasks/{{ $task.ID }}/done">Done</a>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ template "globals/after" .}}
{{ end }}